
    <head>
    </head>
    <body>
        <h1 class="card-body">Thanks for using Sermo Chat</h1>


        <p>
            <a type="button" style="background-color:darkblue;color:magenta;" asp-controller="Rating" asp-action="index" class="btn btn-primary btn-lg">Rate us!</a>
            <a type="button" style="background-color:darkblue;color:magenta;" class="btn btn-secondary btn-lg" href="/index.html">Go to app and start chatting!</a>
        </p>
    </body>
